{% extends 'base.html' %}

{% load static %}

{% block content %}
<article class="about-pricing">
    <section class="pricing" style="margin-top: 20px;">
        <h3>How we price</h3>
        <p>
            At pixenweb, we prioritize and believe in quality design. High quality websites are
            expensive to develop and maintain. Also, due to the wide variations that many websites have
            its difficult for us to give you a fixed price for your website here. Only after we discuss more about
            your website and the features you want it to have, will we give you an estimate price for it. However, we
            have provided packages that may help you find out your way in what you really need in your website so that
            the pricing
            process can be easy for us. Prices
            vary in each
            package.</p>
        <div class="packages">
            <div class="package">
                <div class="package-name">Basic Package</div>
                <ul class="offer">
                    <li>Mobile responsive</li>
                    <li>Quality design</li>
                    <li>Up to 5 pages</li>
                    <li>3 annimations</li>
                    <li>Social links</li>
                    <li>15 days free maintenance and updates </li>
                    <li>Static website pages</li>
                </ul>
            </div>
            <div class="package">
                <div class="package-name">Standard Package</div>
                <ul class="offer">
                    <li>Mobile responsive</li>
                    <li>Quality design</li>
                    <li>Up to 20 pages</li>
                    <li>Unlimited annimations</li>
                    <li>Social links</li>
                    <li>30 days free maintenance and updates </li>
                    <li>Dynamic website pages</li>
                    <li>Google map</li>
                    <li>2 online forms</li>
                </ul>
            </div>
            <div class="package">
                <div class="package-name">Premium package</div>
                <ul class="offer">
                    <li>Mobile responsive</li>
                    <li>Quality design</li>
                    <li>Unlimited pages</li>
                    <li>Unlimited annimations</li>
                    <li>Social links</li>
                    <li>30 days free maintenance and updates </li>
                    <li>Dynamic website pages</li>
                    <li>Google map</li>
                    <li>3 online forms</li>
                    <li>Mobile application(Android)</li>
                </ul>
            </div>
        </div>
        <h3>About domain and hosting</h3>
        <p>We at pixenweb don't provide hosting services. We partner with leading hosting companies globally
            to provide hosting services to you our valued client. You provide us with your credentials and we take the
            step to create you an account with our hosting partners. This is an advantage to you as you get full
            control and access of your website from the bottom most level.The same process applies to getting your
            domain but if you already have one well and good.
        </p>
    </section>
</article>
<article class="more-services" style="margin-top: 30px;">
    <h3 style="text-decoration: underline; text-align: center; margin-bottom: 20px;">More about our services</h3>
    <section id="web-development" class="web-dev">
        <h3 style="color:#008080;">Web development</h3>
        <p>At pixenweb one of our core role is to develop a fully functioning website to meet your needs.
            We believe that you get full control of anything if you fully understand its base. Therefore,
            we develop websites from scratch using the latest technologies. This enables us have full control and proper
            understanding of your website such that if anything goes wrong or a bug is spotted we are able to find it
            easily, fix it and restart your site as quickly as possible as we don't have to consult any third party.
        </p>
    </section>
    <section id="responsive-design" class="r-design">
        <h3 style="color:#008080;">Responsive design</h3>
        <p>It is our responsibility at pixenweb to make your website viewable not only in desktop screens
            but also in small screen devices like smartphones and tablets. Most people currently are using
            smartphones to access the internet. Therefore,we deploy all mobile responsive measures and technologies
            to make sure your website is viewable on all screen sizes that are used on the planet earth.</p>
    </section>
    <section id="web-maintenance" class="web-main">
        <h3 style="color:#008080;">Web maintenance</h3>
        <p>Like cars need regular repair and check-up, the same applies to websites. As a website owner
            you may want to change,add or remove a feature in your website. At pixenweb, we offer maintenance
            and updates for you in your website to make sure everything is as you want it to be and
            functions as you expect.
        </p>
    </section>
    <section id="mobile-app" class="mob-app">
        <h3 style="color:#008080;">Mobile application</h3>
        <p>Having a website is an investment. Having a mobile app for your website is double investment.
            Imagine this,someone visits your websites on a browser, after closing the browser they may
            forget about you.This is normal, but you want to maintain the client. With an app that
            your clients can download in their phones, the
            probability of
            the clients forgetting you is minimized as they will be viewing your app every time they switch on
            their mobile phones and remember you. At pixenweb, we help create this long term contact with
            your clients by creating mobile application for your website that is downloadable on every mobile platform.
        </p>
    </section>
</article>
{% endblock %}